src/models/alignscore/*.ckpt
.DS_Store
.DS_Store
.env

.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/

#Brayan
descargarmodelobasedeepseek.ipynb
src/models/deepseek-coder-1p3b-lora-base/
deepseek-coder-1p3b-lora-base/
AlignScore-large.ckpt
